.hello{color: orange;}

.hello:hover{font-size: larger;}

li:first-child a{color: green;}

li:last-child a{color:red;}

li:nth-child(3) a{color: orange;}

p:first-of-type{color: red;}

p:last-of-type{color: green;}